# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = '00q1k)kz62ld0p92345ggfm$f_$jhdte47olksdnhr12__+l%'

# Database
# https://docs.djangoproject.com/en/2.0/ref/settings/#databases

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'database',
        'USER': 'databaseuser',
        'PASSWORD': 'pass',
        'HOST': 'localhost',
        'PORT': '5432',
    }
}
